#desktopContent {
    margin-top: 64px;
}
#desktopHomeContent {
    height: calc(100vh - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
}
#desktopAdminContent {
    height: calc(100vh - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
}