#loginLogo {
  display: block;
  width: 150px;
  height: auto;
  margin-left: calc(50% - 75px);
}
#loginDivOuter {
  overflow: auto;
  top: calc(50% - 200px);
  left: calc(50% - 125px);
  width: 250px;
  position: absolute;
}
#loginDivInner {
  display: block;
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}
.loginButton {
  width: 100%;
  margin-top: 15% !important;
}
